{{yield}}
{{#if isDetailsLoaded }}
	<div class="flex-card flex-tile offer-card" pricechange="false">
		<div class="flex-content">
			<div class="flex-area-primary">
				<div class="flex-card flex-tile offer-card-inner ">
					<div class="flex-figure">
						<figure class="aspect-ratio16-9 image resize-shrink"
								data-media-type="image" data-lazy="false"
								data-late="false" data-downgrade="false"
								data-alt="missing image alt" data-aspect-ratio="16-9"
								data-class="tile-media">
							<img onerror="this.onerror=null;this.src='/static/default/default/images/car/no_photo.png';"
								 src="{{car.ThumbnailUrl}}"
								 alt="Economy 2/4Door Car" data-car-class="EC">
						</figure>
					</div>
					<div class="flex-content">
						<div class="flex-area-primary">
							<div class="fullName">
								{{car.CarClass}}
							</div>
							<div class="exampleModel">
								<div class="car-model">
									{{car.CarMakeModel}}
								</div>
							</div>
							<div class="locations-info ">
								{{#if car.PickupInfo}}
								<div class="pickup-location location">
									<span class="location-label">
									<strong>Pickup Location:</strong>
										{{car.PickupInfo.Location.City}},
										{{car.PickupInfo.Location.Province}}
										{{car.PickupInfo.Location.Country}}
									</span>
									<p><strong>Pickup Date:</strong>
										{{car.PickupInfo.DateTime}}
									</p>
									<span class="location-label"><strong>Dropoff Location:</strong>
										{{car.DropOffInfo.Location.City}},
										{{car.DropOffInfo.Location.Province}}
										{{car.DropOffInfo.Location.Country}}
									</span>
									<p><strong>Dropoff Date:</strong>
										{{car.DropOffInfo.DateTime}}
									</p>
								</div>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="flex-area-secondary">
				<div class="price-summary">
					<div class="full-price">
						{{car.Price.TotalRate.Value}}
						<small>{{car.Price.TotalRate.Currency}}</small>
					</div>

				</div>
				<div class="book-container">
					<a class="btn btn-action btn-primary" href="{{car.DetailsUrl}}" target="_blank">
						<span class="btn-label">Search Link</span>
					</a>
					<button {{action "detailsHide"}} class="btn">
						<span class="btn-label">Hide Results</span>
					</button>
				</div>
			</div>
		</div>
	</div>
{{else}}
	<button {{action "detailsShow"}}>
		<span class="btn-label">Show Results</span>
	</button>
{{/if}}